html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
.navbar{
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 85px;
}

/* Wrapper for page content to push down footer */
#wrap {
    padding: 80px 0 30px;
    /*background: url('img/content.png');*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -115px;
}

/* Set the fixed height of the footer here */
#push {
    height: 115px;
}
#footer {
    background-color: #eee;
    min-height: 115px;
    /*background-color: #252528;*/
    background-color: rgb(2, 42, 80);
    color: #fff;
    padding-top: 15px;
    
  
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.well white {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #FFF!important;
}

.portfolio-item {
    margin-bottom: 25px;
}

.ui-growl{
    top: 90px;
    
}
.ui-message-icon-only {
    height: 16px;
    width: 16px;
}

